/* ARTIST HEADER . JS */
.artist-img {
  display: flex;
  width: 100%;
  position: relative;
  -moz-box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
}

.artist-img > img {
  height: 350px;

  z-index: -1;
}

.name {
  position: absolute;
  width: 100%;
  bottom: 11%;
  left: 2%;
}
.profile-nav-list {
  position: absolute;
  width: 100%;
  bottom: 3%;
  left: 2%;
}

.profile-nav-links {
  cursor: pointer;
  display: inline;
}
.profile-nav-links:nth-child(n + 2) {
  margin-left: 1rem;
}

/* GENERAL DISPLAY */
.img-sm {
  height: 10%;
  width: 10%;
}
.img-md {
  height: 50%;
  width: 50%;
}

/* LAYOUT  */
.layout-one {
  display: flex;
  align-items: flex-start;
}
.layout-item-one {
  width: 20%;
  /* font-size: 0; */
  line-height: 0;
  background: blue;
}

.layout-item-two {
  width: 80%;
  padding: 1rem;
}

.title {
  font-size: 3rem;
}
.album-underline {
  border-bottom: 1px solid #96969642;
}

.album-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-item-one {
  width: 20%;
}
.album-item-two {
  width: 80%;
}
