.artist-img {
  display: flex;
  width: 100%;
  position: relative;
  -moz-box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 200px 150px rgba(0, 0, 0, 0.9);
}

.artist-img > img {
  height: 350px;

  z-index: -1;
}

.name {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 2%;
}
